button {
    background-color: #2185D9;
    color: white;
    border-color: black;
    border-radius: .5rem;
}

p {
    background-color: #7AB9ED;
    color: white;
    border-color: black;
    border: 15px;
    margin: 30px;
    width: 500px;

}