<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/my-css.css">
    </head>
    <body>

        <h2>{{convert_from_symbol}} {{amount}} {{convert_from}} is {{convert_to_symbol}} {{new_amount}} {{convert_to}}</h2>
        
        <form action="/">
        <button>Home</button>
        </form>
        
        <script src="" async defer></script>
    </body>
</html>
