<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Currency Converter</title>
    <link rel="stylesheet" href="/static/my-css.css">
</head>
<body>
    <h1>Convert Currencies!</h1>

    {% for msg in get_flashed_messages() %}
    <p>{{msg}}</p>
    {% endfor %}


    <form action="/convert" method="POST">
        <label for="convert-from">Convert from</label><br>
        <input type="text" placeholder="Ex. USD" name="convert_from"><br>

        <label for="convert-to">Convert to</label><br>
        <input type="text" placeholder="Ex. GBP" name="convert_to"><br>

        <label for="amount">Amount:</label><br>
        <input type="text" placeholder="Enter Amount" name="amount"><br>

        <br> 

        <button>Convert!</button>
        <input type="reset">

    </form>
    <br>



</body>
</html>